# This is Git's per-user configuration file.
[alias]
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ / | sort | grep --color -E '^\\w*'
    archeology = blame -w -f -n -M -C -C -C
    blame-hard = blame -w -f -n -M -C
    bup = branch --unset-upstream
	cup = commit --amend --no-edit
	diffword = diff --word-diff-regex='[A-Za-z0-9_]+|[^[:space:]]' --word-diff=color
	f = fetch --prune --all
	fpwl = push --force-with-lease
	graph = log --date=short --graph --exclude=refs/stacks/* --all
	now = ! GIT_COMMITTER_DATE=\"$(date)\" git commit --amend --date \"$(date)\"
	ri = rebase -i
	ris = rebase --interactive
    subup = submodule update --init --recursive
[branch]
    sort = -authordate
[color]
	ui = auto
[core]
	autocrlf = input
	excludesfile = /home/emaus/.gitexclude
	pager = less
	quotepath = off
[credential]
	helper = cache --timeout=3600
[diff]
    submodule = log
	tool = vimdiff
[format]
	pretty = format:%C(auto,yellow)%h%C(auto,magenta)% G? %C(auto,blue)%>(12,trunc)%ad %C(auto,green)%<(12,trunc)%aN %C(auto,reset)%s %C(auto,red)% gD% D
[init]
	defaultBranch = main
[log]
	abbrevCommit = true
	decorate = short
	date = short
	follow = true
	mailmap = true
[mailmap]
	file = ~/.mailmap
[rebase]
	autoSquash = true
	updateRefs = true
[rerere]
	enabled = true
[pull]
	ff = only
[push]
    autoSetupRemote = true
	default = current
    recurseSubmodules = check
[status]
    submodulesummary = true
[stgit "alias"]
    ri = refresh --index
    rp = !git add -p && stg refresh --index
	s = series -i -d -e -I -O
    spr = !stg spill && git reset
[user]
	name = Erasmus Cedernaes
	email = github@emaus.dev
