# This is Git's per-user configuration file.
[user]
	name = Erasmus Cedernaes
	email = erasmus.cedernaes@gmail.com
[color]
	ui = auto
[core]
	autocrlf = input
	excludesfile = /home/emaus/.gitexclude
[alias]
	f = fetch --prune --all
	log2 = log --graph --decorate
	graph-this = log --graph --decorate --oneline --full-history
	graph-all = !git graph-this --all
	graph = log --all --date=short --graph --pretty=format:'%C(auto)%h %C(auto,blue)%>(10,trunc)%ad %C(auto,green)%<(10,trunc)%aN %C(auto)%s%C(auto)%gD%d' -n 10
	diffword = diff --word-diff-regex='[A-Za-z0-9_]+|[^[:space:]]' --word-diff=color
	nocommit = log server..master
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ / | sort | grep --color -E '^\\w*'
	now = ! GIT_COMMITTER_DATE=\"`date`\" git commit --amend --date \"`date`\"
	diffs = diff --stat
	graph2 = log --graph --pretty=format:'%C(yellow)%h %Cred%<(50,trunc)%s%C(cyan)%<(30,trunc)%d%n        %Creset%ad, %<(15)%ar %Cgreen%an' --date=short
	checkback = ! git_checkback.sh
	cup = commit --amend --no-edit
[diff]
	tool = vimdiff
[push]
	default = simple
[log]
	follow = true
	decorate = short
[credential]
	helper = cache --timeout=3600
[init]
	defaultBranch = main
